<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fall2018.csc2017.GameCentre">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SlidingTiles.SlidingGameActivity" />
        <activity android:name=".Score.ScoreboardMenuActivity" />
        <activity android:name=".Score.UserScoreboardActivity" />
        <activity android:name=".Score.ScoreScreenActivity" />
        <activity android:name=".Score.SlidingScoreboardActivity" />
        <activity android:name=".GameLauncherActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".SlidingTiles.ChooseDimensionsSlidingActivity" />
        <activity android:name=".SlidingTiles.SlidingTilesStartingActivity" />
        <activity android:name=".Simon.SimonGameActivity" />
        <activity android:name=".Simon.SimonStartingActivity" />
        <activity android:name=".Simon.ChooseDimensionSimonActivity" />
        <activity android:name=".Score.SimonScoreboardActivity" />
        <activity android:name=".Score.MinesweeperScoreboardActivity"></activity>
        <activity android:name=".MineSweeper.ChooseDimensionActivitty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MineSweeper.MineSweeperActivity"/>
    </application>

</manifest>